<h1>Normal Cols and Rows</h1>

<row [justify-content]="size ? 'center' : 'between'" [margin-md]="size ? 4 : 2" padding-vertical="5">

  <column [size]="size ? 2 : 4" class="bg-primary border">
    test1
  </column>

  <column [size]="size ? 2 : 4" class="bg-primary border">
    test2
  </column>
</row>

<h1>Gutters</h1>

<row [justify-content]="size ? 'center' : 'between'" [gutters-horizontal-md]="4" margin-vertical="4">
  <column size="3">
    <div class="bg-primary border">
      test1
    </div>
  </column>

  <column size="3">
    <div class="bg-primary border">
      test2
    </div>
  </column>

  <column size="3">
    <div class="bg-primary border">
      test1
    </div>
  </column>

  <column size="3">
    <div class="bg-primary border">
      test2
    </div>
  </column>
</row>

<button class="btn btn-primary" (click)="toggleSize()">
  toggle
</button>
